/* ===== КНОПКИ ===== */
.btn
{
    font-family: "Minecraft";
    position: relative;
    font-size: 1rem;
    padding: 1%;
    border: solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    min-width: 15%;
    box-shadow: 0 6px 0 black;
    z-index: 100;
}


.btn:hover
{
    transform: scale(1.1);
    border: solid white;
}


.btn-primary
{
    background:
            linear-gradient(0, rgba(0, 255, 255, 1), rgba(0, 0, 0, 0)),
            url("../images/ice.png") center/10vh;
    color: #000;
}


.btn-primary:hover
{
    background:
            linear-gradient(0, rgba(0, 255, 255, 1), rgba(0, 0, 0, 0)),
            url("../images/ice.png") center/10vh;
}

.btn-success
{
    background:
            linear-gradient(0, rgba(0, 255, 0, 1), rgba(0, 0, 0, 0)),
            url("../images/moss_block.png") center/10vh;
    color: #000;
}

.btn-success:hover
{
    background:
            linear-gradient(0, rgba(0, 255, 0, 1), rgba(0, 0, 0, 0)),
            url("../images/moss_block.png") center/10vh;
}

.btn-danger
{
    background:
            linear-gradient(0, rgba(255, 0, 0, 1), rgba(0, 0, 0, 0)),
            url("../images/redstone_block.png") center/10vh;
    color: white;
}

.btn-danger:hover
{
    background:
            linear-gradient(0, rgba(255, 0, 0, 1), rgba(0, 0, 0, 0)),
            url("../images/redstone_block.png") center/10vh;
}

.btn-warning
{
    background:
            linear-gradient(0, rgba(255, 128, 0, 1), rgba(0, 0, 0, 0)),
            url("../images/red_sand.png") center/10vh;
    color: #000;
}

.btn-warning:hover
{
    background:
            linear-gradient(0, rgba(255, 128, 0, 1), rgba(0, 0, 0, 0)),
            url("../images/red_sand.png") center/10vh;
}

.btn-secondary
{
    background:
            linear-gradient(0, rgba(128, 128, 128, 1), rgba(0, 0, 0, 0)),
            url("../images/dead_brain_coral_block.png") center/10vh;
    color: #fff;
}

.btn-secondary:hover
{
    background:
            linear-gradient(0, rgba(128, 128, 128, 1), rgba(0, 0, 0, 0)),
            url("../images/dead_brain_coral_block.png") center/10vh;
    transform: scale(1.1);
}

/* Размеры кнопок */
.btn-sm
{
    background:
            linear-gradient(0, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
            url("../images/snow.png") center/40%;
    font-size: 1rem;
    color: black;
}


.btn-sm:hover
{
    background:
            linear-gradient(0, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
            url("../images/snow.png") center/40%;
}


.btn-large
{
    width: 100%;
    padding: var(--spacing-md);
    font-size: 1rem;
}